body {
  font-family: "Roboto", sans-serif;
  font-weight: 400; }

#part-1,
#part-2,
#part-3,
#part-4,
#part-5 {
  margin-bottom: 100px;
  padding: 20px;
  max-width: 500px; }

#main input {
  max-width: 250px;
  margin: 20px 0; }

.view-left {
  width: 20%;
  height: 100vh;
  background: #DADADA;
  float: left; }

.view-right-top {
  width: 80%;
  background: #EDEDED;
  height: 30vh;
  float: left; }
  .view-right-top__data-points {
    background: #FAFAFA;
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    margin: 20px; }

.view-right-bottom {
  width: 80%;
  background: #EDEDED;
  height: 70vh;
  float: left; }
  .view-right-bottom__inputs {
    background: #FAFAFA;
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    margin: 20px; }

.spacer {
  margin: 50px; }

.card-shadow {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border-radius: 5px; }

.app-dropdown {
  max-width: 500px;
  padding: 20px; }
