body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  margin: 10%; }

#part-1,
#part-2,
#part-3,
#part-4,
#part-5 {
  margin-bottom: 100px;
  padding: 20px; }

#main input {
  max-width: 250px;
  margin: 20px 0; }

.spacer {
  margin: 50px; }

.card-shadow {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border-radius: 5px; }
