body {
  font-family: "Roboto", sans-serif;
  font-weight: 400; }

h1, h2, h3, h4, h5, h6 {
  color: #007bff; }

#part-1,
#part-2,
#part-3,
#part-4,
#part-5 {
  padding: 20px;
  max-width: 500px; }

#main input {
  max-width: 250px;
  margin: 20px 0; }

.view-top-bar {
  width: 100%;
  height: 60px;
  background: #007bff;
  position: relative; }
  .view-top-bar .view-top-bar__logo {
    line-height: 60px;
    margin-left: 30px;
    color: #FFF; }
    .view-top-bar .view-top-bar__logo img {
      max-width: calc(20% - 60px);
      min-width: 125px; }
  .view-top-bar .dropdown {
    position: absolute;
    top: 10px;
    right: 20px; }
  .view-top-bar #dropdownMenuButton {
    background: #FAFAFA;
    border-color: #FAFAFA;
    color: #007bff; }
  .view-top-bar .dropdown-menu {
    background: #FAFAFA;
    transform: translate3d(0px, 38px, 0px) !important; }
    .view-top-bar .dropdown-menu .dropdown-item {
      color: #007bff; }
      .view-top-bar .dropdown-menu .dropdown-item:hover {
        background: #007bff;
        color: #FFF; }

.view-left {
  width: 20%;
  height: calc(100vh - 60px);
  background: #DADADA;
  float: left;
  display: flex;
  flex-direction: column; }
  .view-left .nav {
    border: 0;
    margin-top: 20px; }
    .view-left .nav-link {
      width: 100%;
      padding: 20px 20px;
      border: 0; }
      .view-left .nav-link:hover {
        border: 0;
        color: #FFF;
        background: #007bff; }
      .view-left .nav-link.active {
        color: #FFF;
        background: #007bff;
        position: relative; }
        .view-left .nav-link.active:after {
          left: 80%;
          top: 50%;
          border: solid transparent;
          content: "";
          height: 0;
          width: 0;
          position: absolute;
          pointer-events: none;
          border-left-color: #FFF;
          border-width: 8px;
          margin-top: -8px; }

.view-right-top {
  width: 80%;
  background: #EDEDED;
  height: calc((100vh - 60px) / 2);
  float: left; }
  .view-right-top__data-points {
    background: #FAFAFA;
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    margin: 20px;
    padding: 20px;
    overflow: auto; }

.view-right-bottom {
  width: 80%;
  background: #EDEDED;
  height: calc((100vh - 60px) / 2);
  float: left; }
  .view-right-bottom__inputs {
    background: #FAFAFA;
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    margin: 20px;
    padding: 20px;
    overflow: auto; }

.spacer {
  margin: 50px; }

.card-shadow {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border-radius: 5px; }

.modal-footer button {
  background: #dc3545;
  border: #dc3545; }
  .modal-footer button:hover {
    background: #c82333; }